<h1>List Page</h1>

<mat-nav-list role="list">
  <h3 mat-subheader>Customers (Fake Data)</h3>
  <mat-list-item *ngFor="let fixture of fixtures" role="listitem">
    <div class="left">
      <img class="avatar" [src]="fixture.homeTeam.logo" alt="Desc 1">
      <mat-label>{{fixture.homeTeam.team_name}}</mat-label>
    </div>
    <mat-label class="center">{{fixture.score.fulltime || '? - ?' }}</mat-label>
    <div class="right">
      <mat-label>{{fixture.awayTeam.team_name}}</mat-label>
      <img class="avatar"[src]="fixture.awayTeam.logo" alt="Desc 1">
    </div>
  </mat-list-item>
</mat-nav-list>
