<div class="container" fxLayout="row wrap" fxLayoutAlign.lt-md="center center" fxLayoutAlign="space-between center">
  <div class="item" cdkDropList fxFlex.lt-md="80%" fxFlex.gt-md="30%" fxFlex="30%" *ngFor="let standing of standings"
       (cdkDropListDropped)="onDrop($event, standing.items)">
    <mat-label>{{standing.group.groupName}}</mat-label>
    <div class="example-box" *ngFor="let item of standing.items; let index = index" cdkDrag [cdkDragDisabled]="isOver">
      <img class="avatar" [src]="item.team.logoUrl" alt="Desc 1">
      <mat-label>{{item.team.internationalName}}</mat-label>
      <i *ngIf="isOver && item.isCorrect" class="fa fa-check-circle green right"> +{{item.score}} </i>
      <i *ngIf="isOver && !item.isCorrect" class="fa fa-times-circle red right"></i>
    </div>
  </div>
</div>
